<!DOCTYPE suite SYSTEM "https://testng.org/testng-1.0.dtd">
<suite name="CalculatorTestSuite" parallel="classes" thread-count="3">
    <test name="Test Arithmetic Operations">
        <groups>
            <run>
                <include name="arithmetic"/>
            </run>
        </groups>
        <classes>
            <class name="SumLongTest"/>
            <class name="SumDoubleTest"/>
            <class name="SubLongTest"/>
            <class name="SubDoubleTest"/>
            <class name="DivLongTest"/>
            <class name="DivDoubleTest"/>
            <class name="MultLongTest"/>
            <class name="MultDoubleTest"/>
        </classes>
    </test>

    <test name="Test Algebraic Operations">
        <groups>
            <run>
                <include name="algebraic"/>
            </run>
        </groups>
        <classes>
            <class name="PowTest"/>
            <class name="SqrtTest"/>
        </classes>
    </test>

    <test name="Test Trigonometry Operations">
        <groups>
            <run>
                <include name="trigonometry"/>
                <exclude name="cos"/>
            </run>
        </groups>
        <classes>
            <class name="SinTest"/>
            <class name="TgTest"/>
            <class name="SubLongTest"/>
            <class name="CtgTest"/>
        </classes>
    </test>

    <test name="Test Check Sign Value Operations">
        <groups>
            <run>
                <include name="checkSign"/>
            </run>
        </groups>
        <classes>
            <class name="IsPositiveTest"/>
            <class name="IsNegativeTest"/>
        </classes>
    </test>
</suite>
